 *{
    font-family: "Poppins", sans-serif;

}



.thirdcolumn {

    padding: 20px;
    border-radius: 20px;
}

.inner {
    background-color: #FFFFFF;
    border: 2px solid #388E3C;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex; 
    flex-direction: column;
}
.filr{
    width:750px;padding:8px; margin-top:50px;
    border-radius: 15px;    ;

}
.delete{
    display: none;
    position: relative;
    top:20px;
    cursor: pointer;

}
#removeuser{
    width:100%;
}

#friend-list {
 
 
    margin-top: 50px;
    padding: 30px;
    border-radius: 40px;
}

.cart-scroll {
    max-height: 700px;
    overflow-y: auto;  
    margin-bottom: 20px;
}


.product{
    background-color: aliceblue;
    margin:20px;
    padding:20px;
    border-radius:15px;
    
}
.produc{
    width:350px;
    background-color: #c28f97;
    padding:30px;
    margin:20px;
    border-radius: 20px;
}
#cart-items{
    display: flex;
    column-gap:10px;
    flex-wrap: wrap;
    

}
#avatar-modal {
    position: fixed;
    top: 80px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(36, 35, 35);
    color: #FFB6C1;
    border: 1px solid #ccc;
    padding: 30px;
    z-index: 1000;
    border-radius: 30px;
    display: none;
}

.avatar-list img {
    width: 80px;
    height: 80px;
    margin: 5px;
    cursor: pointer;
}


.produc img{
    width:150px;
}

   #recordTableBody{
    padding-left: 70px; 
   }



.highlighted {
    border: 2px solid rgb(209, 6, 53);
    opacity: 1;
}
@media screen and (max-width:400px) {
    .filr{
        width:200px;
        margin:20px;    
    }
    #recordTableBody{
        padding-left:30px;
    }
    
}
